:root {
    --azul: #3B47D1;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    display: flex;
}

a, a:visited {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    color: black;
    background-color: white;
}

@media only screen and (max-width: 499px) {
    header {
        justify-content: center;
    }

    header img {
        width: 120px;
    }

    nav {
        margin-top: 20px;
    }
}


/*conteudo da pagina*/


.culto-item1 {
    width: 300px;
    height: 300px;
    background-color: gray;
}