:root {
    --azul: #3B47D1;
}

* {
    padding: 0;
    margin: 0;
}


header {
    background-color: var(--azul);
    display: flex;
}

nav {

}

ul {
    list-style-type: none;
    display: flex;
}

a, a:visited {
    color: white;
    text-decoration: none;
}